@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Overpass&family=Space+Mono&display=swap');
:root{
    --main-color: #19054d;
    --nav-text: #ffcb22;
    --background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%); 
    --text: white;
    --section-color: rgb(36, 59, 85);
    --sticky-color:rgb(20, 30, 48);
    --service-color:rgb(210, 218, 233);
}   
*{
    margin: 0;
    padding: 0;
}
.header{
    position: fixed;
    width: 100%;
    transition: 0.9s;
}
.sticky{
    background: var(--sticky-color);
    transition: 0.9s;
}
.header-cont{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo h1{
    color: var(--nav-text);
    margin-left: 50px;
    font-size: 35px;
    font-family: 'DynaPuff', cursive;
}
.navigation ul{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}
.navigation ul a li{
    list-style: none;
    margin-left: 25px;
    color: var(--nav-text);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.navigation ul a li:hover{
    border-bottom: 2px solid var(--nav-text);
    transition: 2s;
}
.navigation ul a{
    text-decoration: none;
}
.Home{
    width: 100%;
    height: 650px;
    background: var(--background);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 20%;
}
.Home-cont{
    padding-top: 130px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    height: 300px;
}
.content h2{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: var(--nav-text);
}
.content p{
    width: 600px;
    text-align: justify;
    color: var(--text);
    margin-bottom: 20px;
}
.btn-more{
    color: var(--nav-text);
    border: 2px solid var(--nav-text);
    text-decoration: none;
    padding: 10px 8px;
    margin-top: 40px;
    font-weight: 600;
}
.btn-more:hover{
    background: var(--nav-text);
    transition: 0.2s;
    color: var(--main-color);
}
.image-cont{
    margin-right: 150px;
}
.image{
    width: 450px;
    height: 450px;
    background-color: var(--nav-text);
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-top-left-radius: 60%;
}
.service{
    margin-top: 140px;
}
.title{
    display: flex;
    justify-content: center;
}
.title h2{
    color: var(--section-color);
    font-size: 35px;
    font-weight: bold;
    border-bottom: 6px solid var(--section-color);
}
.service-cont{
    margin-top: 40px;
}
.box-cont{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 250px auto;
    gap: 30px;
    flex: auto;
}
.box{
    background-color: var(--service-color);
    margin-left: 20px;
    border-radius: 5%;
}
.box p{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.box:hover{
    transform: scale(1.01,1.01);
    border: 4px solid var(--section-color);
    transition: 0.1s;
}
.box img{
    width: 200px;
    height: 200px;
}
.center{
    background: var(--sticky-color) url(../images/centerback.jpg) fixed center;
    margin-top: 100px;
    width: 100%;
    height: 500px;
}
.center .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    padding-top: 100px;
}
.content .text{
    margin-left: 40px;
}
.text h3{
    font-size: 40px;
    margin-left: 10px;
    color: var(--nav-text);
}
.get{
    background: var(--section-color) url(../images/centerback.jpg) center;
    padding: 150px 200px;
}
.get a{
    font-size: 30px;
    background: var(--nav-text);
    text-decoration: none;
    color: var(--nav-color);
    text-transform: uppercase;
    padding: 10px 10px;
    transition: 0.2s;
}
.get a:hover{
    border: 3px solid var(--nav-text);
    background: none;
    color: var(--nav-text);
    transition: 0.2s;
}
.Aboutus{
    margin-top: 100px;
}
.about-us-cont{
    width: 60%;
    height: 400px;
    background: var(--service-color);
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
}

.footer{
    width: 100%;
    height: 300px;
    background: var(--section-color);
    display: flex;
    justify-content: center;
}
.footer .foot-cont{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 300px;
    padding-top: 50px;
}
.usefullink h3{
    color: var(--nav-text);
}
.usefullink ul li{
    list-style: none;
    color: var(--text);
    font-size: 20px;
}
.usefullink ul a{
    text-decoration: none;
}